/* Footer.css */

.footer {
  background-color: black;
  color: gold;
  padding: 50px 20px;
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
}

.footer-section h2 {
  margin-bottom: 20px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}