/* Navbar.css */

.navbar {
  background-color: black;
  color: gold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 30px;
  font-weight: bold;
}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: gold; /* Setting the color to gold */
  font-size: 24px; /* Setting the font size to be larger */
  text-decoration: none; /* Removing underline */
}

.navbar-links a:hover {
  color: white; /* Changing color on hover */
}
