/*Font-awesome integration*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*Google font integration*/
@import url('https://fonts.googleapis.com/css?family=Roboto');



body {
	font-family: 'Philosopher', sans-serif;
	position: relative;
	font-weight: 400;
	font-size: 18px;
	color: #8a919c;
	line-height: 30px;
}



.main-content{
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.App {
  text-align: center;
}